// Fontes
$fonte: "Roboto", sans-serif;

// Cores
$cor-primaria: #884a39;
$cor-secundaria: #c38154;
$cor-terciaria: #f9e0bb;
$cor-quaternaria: rgba(216, 180, 248, 0.4);

// Tamanho das fontes
$tamanho-do-texto: 3rem;
