html,
body {
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #884a39;
}
nav ul li a:hover {
  border-bottom: 2px solid #c38154;
}

.banner {
  background: url(../imagens/banner.jpeg) 27% center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner .inner-banner {
  padding: 3rem;
  background-color: #f9e0bb;
  opacity: 0.9;
  border-radius: 45px;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #884a39;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #c38154;
}

#servicos {
  margin: 80px;
}
#servicos h3 {
  font-size: 1.2rem;
  color: #884a39;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#servicos h4 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
  font-weight: 300;
}
#servicos .cards {
  display: flex;
  justify-content: space-evenly;
}
#servicos .cards .card {
  width: 360px;
  text-align: center;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #884a39;
}
#servicos .cards .card p {
  font-size: 1rem;
  font-weight: 300;
  color: #c38154;
  line-height: 1.25rem;
}
#servicos .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #c38154;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}

#cupom {
  background-color: #f9e0bb;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #884a39;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.7647058824rem;
}
#cupom input {
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 575px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom input:hover, #cupom inputfocus-within {
  box-shadow: 1px 1px 8px 1px #884a39;
}
#cupom button {
  margin-top: 0.75rem;
  text-transform: uppercase;
  border: none;
  height: 40px;
  width: 130px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  background-color: #c38154;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
#cupom button:hover {
  background-color: #884a39;
}

#sobre {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}
#sobre .sobre-texto {
  padding: 3rem;
  background-color: rgba(216, 180, 248, 0.4);
  border-radius: 45px;
}
#sobre .sobre-texto h3 {
  color: #884a39;
  font-size: 1.2rem;
}
#sobre .sobre-texto h4 {
  color: #c38154;
  font-size: 1rem;
}
#sobre .sobre-texto p {
  margin-top: 5px;
  color: #884a39;
}

footer {
  background-color: #f9e0bb;
  color: #884a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 24px;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}
footer img {
  color: red;
}/*# sourceMappingURL=style.css.map */